@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: poppins,sans-serif;
}

ul {
    list-style: none;
    display: flex;
    flex-flow: row;
    gap: .5rem;
    align-items: center;
}

body {
    user-select: none;
    background-color: rgb(233, 232, 232);
    height: 100dvh;
    overflow: hidden;
}

span{

    font-weight: 700;

}

.container {
    display: flex;
    background-color: white;
    justify-content: center;
    padding: .1%;
    align-items: center;
    width: 28.125rem;
    flex-direction: column;
    border-radius: 1rem;
    border: solid #d3d3d3 .1rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 100%;
    border-bottom: solid #d3d3d3 .1rem;
    font-size: 0.938rem;
    padding: 0.938rem 0.313rem;
}

.bx bx-envelope bx-data {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.NO {
    position: relative;
    font-weight: 500;
}

.button {
    margin-left: 80px;
    padding: 0.125rem 0.313rem;
    border-radius: 5px;
    background-color: #fff;
    border: 2px solid rgb(233, 233, 233, 0.6);
}

main{

    display: flex;
    flex-direction: column;
    align-content: end;
    width: 100%;
    gap: 1rem;
    padding: 1.5rem;

}

.features {
    display: flex;
    gap: 0.625rem;
}

.date {
    margin-right: 2.5rem;
}

.perfis {
    display: flex;
    justify-content: center;
    align-self: flex-start;
    gap: 0.625rem;

}

.info{

    border-left: 2px solid #d3d3d3;
    text-wrap: wrap;
    display: flex;
    padding-left: 1.5rem;
    gap: 1.5rem;
    flex-direction: column;
    width: 21.875rem;
    margin-left: 1rem;

}

.dnr{

    font-weight: 500;
    font-size: 2rem;

}

text{

    padding-left: 2rem;
}

li{
    padding: .5rem .9rem .5rem;
    border-radius: 2rem;
    text-wrap: nowrap;

}

.g {
    background-color: rgb(22, 180, 75);
}

.p {
    background-color: rgba(196, 126, 253, 0.692);
}

.y {
    background-color: rgb(223, 223, 49);
}

.info span{

    font-weight: 600;

}

footer {
    border-top: solid #d3d3d3 .1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    padding: 5%;
}
footer button {
    width: 100%;
    padding: .6rem;
    background: none;
    border-radius: 3rem;
    border-style: none; 
    cursor: pointer;
    font-size: 1rem ;
} 

#accept {
    background-color: black;
    color: white;
}
#accept:hover {
    transform: scale(1.01);
    transition: transform 0.3s ease;
}
#accept:active {
    transform: scale(0.96);
    transition: transform 0.3s ease;
}
#decline {
    font-weight: 500;
    border: 2px solid rgb(223, 223, 223);
}
#decline:hover {
    transform: scale(1.01);
    background-color: rgb(223, 223, 223);
    transition: transform 0.3s ease;
}
#decline:active {
    transform: scale(0.96);
    transition: transform 0.3s ease;
}
