@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: linear-gradient(135deg, #5fa8e6 0%, #2986cc 50%, #1565c0 100%);
  background-image: url(/img//fundo\ do\ mario.jpg);
}
.login-form {
  align-items: center;
  display: flex;
  width: 390px;
  flex-direction: column;
  justify-content: center;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  padding: 15px;
  background: transparent;
  backdrop-filter: blur(10px);
  animation: moveup 0.5s linear forwards;
}
@keyframes moveup {
  0% {
    transform: translateY(60px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.login_header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: var(--mc-default--fontlist);
}


.login_header img {
  width: 200px;
}
.login_header img:hover {
  transform: scale(1.3);
  transition: all 0.3s ease;
}

.login_header h1 {
  margin-top: 10px;
  color: white;
  font-size: 1.5em;
  background: transparent;

}
.login_header h1:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.login_input {
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius:35px;
  padding: 10px 20px;
  margin-bottom: 10px;
  color: #fff;
  font-size: 1em;
  max-width: 300px;
  outline: none;
  width: 100%;
  background: transparent;
}

.login_button {
  border: none;
  color: white;
  width: 100%;
  border-radius: 30px;
  padding: 15px 32px;
  margin: 20px 0;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;

}

.login_button:hover {
  color: #333;
}

.login_button:disabled {
  background-color: #ffffff;
  color: rgb(102, 102, 102);
  cursor: auto;
}
.login_button:disabled:hover {
  background-color: #ffffff;
  color: rgb(102, 102, 102);
  cursor: auto;
  transform: scale(0.95);
}
.login_button:enabled {
  background: linear-gradient(135deg, #5fa8e6 0%, #2986cc 50%);
  color: white;
  transform: scale(1);
  transition: all 0.3s ease;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.login_button:enabled:hover {
  background: linear-gradient(135deg, #5fa8e6 0%, #2986cc 50%, #1565c0 100%);
  color: white;
  transform: scale(0.95);
  transition: all 0.3s ease;
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}


.login_input img{
  padding: 10px 20px;
  border-radius: 5px;
  background: rgba(255, 255, 255, 0.1);
  text-align: center;
  cursor: pointer;  
  border : none;
}

#ft-one{
  width: 30px;
  outline: none;
  cursor:pointer;
  text-align:center;
  background: transparent;
  color: #fff;
}
#ft-two{
  width: 30px;
  outline: none;
  cursor:pointer;
  text-align:center;
  background: transparent;
  color: #fff;
}

img{
  max-width: 100px;
  max-height: 100px;
}
.input-placeholder {
  position: relative;
  width: 100%;
  color: #fff;
}

.input-placeholder i {
  position: absolute;
  font-size: 20px;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
}
.login_input {
  box-shadow: 0px 10px 15px -3px rgba(0,0,0,0.1);
  padding: 10px 20px;
  width: 100%;
  margin-bottom: 20px;
}
.login_input::placeholder {
  color: #ccc;
  font-size: 15px;
  background: transparent;
}
.login_input.um:focus,
.login_input.dois:focus {
  transform: scale(1.07);
  transition: transform 0.2s;
  z-index: 1;
}
.login_input.um:hover,
.login_input.dois:hover {
  transform: scale(1.07);
  transition: transform 0.2s;
  z-index: 1;
}
